
.navbar-nav a{
    font-weight: 18px;
}
#hero{
    object-fit: contain;
    /* float: right; */
   
}

.classes{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    gap: 10;
}

